@import "tailwindcss";
@import '@fontsource/inter';

@theme {
    --color-primary: #5057EA;
    --default-font-family: inter, ui-sans-serif, system-ui, sans-serif;
    --animate-grow-in: grow-in 200ms ease-in;

    @keyframes grow-in {
        0% {
            transform: scale(0.8);
            opacity: 0
        }


        100%: {
            transform: scale(1);
            opacity: 1
        }


    }
}